$dark-color: rgba(50, 62, 74, 1);
$light-color: rgba(252, 253, 255, 1);
$primary-color: rgba(158, 65, 75, 1);
$secondary-color: rgba(83, 31, 43, 1);
$third-color: rgba(196, 160, 86, 1);

$font-title: heavy-trip, sans-serif;
