// Variables
@import "variables";

@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family:'heavy-trip';
  src: url('assets/sass/fonts/heavy-trip.woff2') format('woff2'),
  url('assets/sass/fonts/heavy-trip.woff') format('woff'),
  url('assets/sass/fonts/heavy-trip.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  @media screen and (max-width: 400px){
    font-size:1.2em;
  }
}

#app {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.contenu{
  background-color: rgba($light-color, 0.7);
  margin-top: 20px;
  padding-top:20px;
  padding-bottom:20px;
  overflow-x: hidden;
}

h1.band-title{
  font-family:heavy-trip, sans-serif;
  font-size:10em;
  color: black;
  @media (max-width: 800px) {
    font-size: 6em;
  }
  @media (max-width: 400px) {
    font-size: 4em;
  }
}

h2{
  font-family:heavy-trip, sans-serif;
}

.band-title {
  font-family:heavy-trip, sans-serif;
  font-size:1.5em;
}

.font-menu {
  font-family: heavy-trip, sans-serif;
  font-size: 1.4em;
}

.web-title {
  width:100%;
  overflow: auto;
}

.subtitle {
  margin:auto;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(assets/img/lunar-storm-feline.png) no-repeat;
  background-size: cover;
}

header{
  background-color: rgba($light-color, 0.7);
}

.menu-button{
  cursor: pointer;
  height:30px;
  width: 30px;
  background-size: 20px 20px;
  background: url(assets/img/menu.svg) transparent no-repeat;
  margin-bottom: 10px;
  margin-left: 10px;
  display:none;
  @media (max-width:507px) {
    display:block;
  }
}

.activeMenu{
  transform: rotate(90deg);
}

nav {
  color :$dark-color;
  border-bottom: $dark-color solid 1px;
  ul{
    li{
      display: inline;
      padding: 1.2em 1.2em 0 1.2em;
      a{
        text-decoration: none;
        color: $dark-color;
      }
      a:hover{
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
  @media (max-width:507px) {
    .nav{
      display:block;
    }
    ul{
      li {
        display:none;
      }
    }
  }
}

.showMenu {
  li{
    display:block;
  }
}


.bg-opacity{
  background-color: rgba($dark-color, 0.3);
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.img-fb{
  max-width:150px;
  max-height:100px;
}

.swipe-transition-enter-active {
  transition: transform 0.7s, opacity 0.7s;
  transition-delay: 0.5s;
}
.swipe-transition-leave-active {
  transition: transform 0.5s, opacity 0s;
}
.swipe-transition-enter{
  transform: translateX(200px);
  opacity: 0;
}
.swipe-transition-leave-active{
  transform: translateX(-200px);
  opacity: 0;
}

.lightbox-Gmap {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-color: rgba(#FFF, 0.9);
  display:flex;
  .Gmap{
    margin:auto;
  }
}

.lightbox__close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url(assets/img/cross.svg) transparent no-repeat;
  background-size: 30px 30px;
  transition: transform 0.3s;
  cursor: pointer;
}

.lightbox__close:hover {
  transform: scale(1.2);
}

.biography {
  @media (min-width: 750px) and (max-width: 1000px) {
    margin-left:50px;
  }
}

.bandcamp {
  overflow:hidden;
  @media screen and (max-width: 425px) {
    margin-right: 15px;
  }
}

.socialmedia {
  position:absolute;
  top:10px;
  right: 10px;
  ul{
    list-style:none;
    li{
      display:flex;
      }
    }
  a {
    img{
      width:28px;
      height:28px;
      margin:8px;
    }
    img:hover{
      filter:grayscale(100%)
    }
  }
}

.logos-media{
  img{
    margin: 20px;
    width: 64px;
    height: 64px;
    cursor: pointer;
  }
  img:hover{
    transform: scale(1.2);
  }
}

.btn-fb{
  height: 40px;
  margin-left: 20px;
}

.albumRs{
  overflow-x: hidden;
  margin: 5px;
  .photoRs{
    display:flex;
    margin-top: 10px;
    img{
      box-sizing: border-box;
      max-height: 300px;
      margin: auto;
      border: $dark-color solid
    }
  }
}

.router-link-exact-active {
  color:$primary-color;
}

.bg-login{
  background-color: rgba($light-color, 0.8);
  display:flex;
  .login{
    margin:auto;
  }
}

.gmap-auto {
  width:600px;
}

.trademarks {
  margin:auto;
  img{
    margin-top:30px;
    max-width: 150px;
    &:hover {
      filter: grayscale(70%);
    }
  }
}

.filters {
  padding-left:0;
  padding-bottom: 30px;
  li {
    display:inline;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    @media screen and (max-width: 360px){
    display: flex;
  }
    a{
      padding:2px;
      border: $dark-color solid 1px;
      border-radius: 5px;
      color: $dark-color;
    }
    a:hover {
      color: $primary-color;
      text-decoration:none;
    }
    a.selected {
      color: $third-color;
      background-color: $primary-color;
    }
  }
}

.ajout-contact {
  display:grid;
  margin:auto;
}

.table{
  td{
  }
}
.hide-editing{
  display:inline-block;
}
.show-editing{
  display:none;
}

.editingConcert{
  @media screen and (max-width: 770px){
    display:grid;
  }
  .hide-editing{
    display:none;
  }
  .show-editing{
    display:inline-block;
  }
}

.not-little-screen {
  @media screen and (max-width: 420px) {
    display:none;
  }
}

.liste-concert {
  margin-top: 10px;
}

.concert {
  border: $light-color solid 1px;
  padding:15px;
  width:90%;
  margin: auto;
  display:flex;
}

.concert-date {
  font-weight: bold;
  margin:auto;
}

.concert-name {
  margin:auto;
}

.concert-lieu {
  margin:auto;
}

.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

footer{
  margin-top: 10px;
  position: relative;
  bottom: 0px;
  right: 0px;
  color: $light-color;
  font-size: 0.8em;
  a{
    color: $light-color;
  }
  a:hover{
    color: $light-color;
  }
}

.view{
  min-height:95vh;
}